
@{
    ViewBag.Title = "Clubs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <h2>Clubs</h2>
</div>
<script>
    $(document).ready(function () {
        $(".navoption").removeClass("selectedNav");
        $(".optClubs").addClass("selectedNav");
    });
</script>
