
@{
    ViewBag.Title = "Notification";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <h2>Notification</h2>
</div>
<script>
    $(document).ready(function () {
        $(".navoption").removeClass("selectedNav");
        $(".optNotification").addClass("selectedNav");
    });
</script>
